.why {
  margin: 80px 0px 0px 0px;

  &__title {
    font-weight: 400;
    font-size: 64px;
    line-height: 120%;
    color: #000000;
    padding: 0px 0px 40px 0px;
    text-align: center;
    position: relative;

    &::after {
      content: "";
      display: block;
      width: 50%;
      height: 3px;
      background-color: #DBAC16;
      position: absolute;
      top: 70%;
      left: 50%;
      transform: translate(-50%);
    }
  }

  &__items {}

  &__item {
    display: flex;

  }

  &__item:nth-child(2n) {
    flex-direction: row-reverse;
  }

  &__item-content {
    width: 50%;
    padding: 5% 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 45px;
  }

  &__item-title {
    font-size: 30px;
    line-height: 120%;

    &::after {
      content: '';
      display: flex;
      width: 50%;
      height: 1px;
      background-color: #DBAC16;
      margin: 15px 0px 0px 0px;
    }
  }

  &__item-text {
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
  }

  &__item-img {
    width: 50%;
    height: 400px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}

@media (max-width: 910px) {
  .why {
    &__item-content {
      width: 60%;
      gap: 15px;
    }

    &__item-img {
      width: 40%;
    }
  }
}

@media (max-width: 685px) {
  .why {
    &__title {
      font-size: 30px;
    }

    &__item {
      flex-direction: column;
    }

    &__item:nth-child(2n) {
      flex-direction: column;
    }

    &__item-content {
      width: 100%;
      gap: 15px;
    }

    &__item-img {
      width: 100%;
    }
  }
}