.why {
  margin: 8.5% 0px 0px 0px;

  &__item {
    display: flex;

  }

  &__item:nth-child(2n) {
    flex-direction: row-reverse;
  }

  &__item-content {
    width: 50%;
    padding: 5% 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 45px;
    @media (max-width: 425px){
      padding: 5% 0;
    }
  }

  &__item-title {
    font-size: 30px;
    line-height: 120%;
    @media (max-width: 425px){
      font-size: 25px;
    }

    &::after {
      content: '';
      display: flex;
      width: 50%;
      height: 1px;
      background-color: #DBAC16;
      margin: 15px 0px 0px 0px;
    }
  }

  &__item-text {
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    @media (max-width: 425px){
      font-size: 18px;
    }
  }

  &__item-img {
    width: 50%;
    height: 400px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}

@media (max-width: 910px) {
  .why {
    &__item-content {
      width: 60%;
      gap: 15px;
    }

    &__item-img {
      width: 40%;
    }
  }
}

@media (max-width: 685px) {
  .why {
    &__item {
      flex-direction: column;
    }

    &__item:nth-child(2n) {
      flex-direction: column;
    }

    &__item-content {
      width: 100%;
      gap: 15px;
    }

    &__item-img {
      width: 100%;
      height: 30vh;
    }
  }
}