.form {
  background-image: url('../../../assets/form-bg.avif');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  position: relative;

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(18, 18, 18, 0.6), rgba(18, 18, 18, 0.6));
    backdrop-filter: blur(4px);
  }

  &__wrap {
    position: relative;
    padding: 5.5% 0 5.5% 5.5%;
    display: flex;
    justify-content: space-between;
    gap: 30px;

    @media (max-width: 870px) {
      padding: 5.5% 0;
    }
    @media (max-width: 800px){
      flex-direction: column;
    }
  }

  &__content {
    max-width: 42%;
    @media (max-width: 800px){
      max-width: 100%;
    }
  }

  &__title {
    font-weight: 400;
    font-size: 42px;
    line-height: 120%;
    position: relative;
    color: aliceblue;
    @media (max-width: 560px){
      font-size: 25px;
    }

    &::after {
      content: '';
      display: block;
      width: 1000%;
      height: 3px;
      background: aliceblue;
      position: absolute;
      right: 0;
      bottom: -32px;
      border-radius: 1.5px;

      @media (max-width: 965px) {
        bottom: -10px;
      }
    }
  }

  &__text {
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    margin-top: 59px;
    color: aliceblue;
    @media (max-width: 550px){
      margin-top: 20px;
    }
  }

  &__error {
    position: absolute;
    font-size: 18px;
    color: rgb(255, 53, 53);
    bottom: -25px;
    @media (max-width: 1272px){
      font-size: 15px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    min-width: 55.82%;
    flex-grow: 1;
    gap: 35px;
    @media (max-width: 805px){
      min-width: auto;
    }
  }

  &__head {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 35px;

    @media (max-width: 1160px) {
      flex-direction: column;
    }

    label {
      min-width: 48%;
      position: relative
    }

    input {
      width: 100%;
      padding: 10px 5px;
      font-size: 18px;
      transition: 0.3s;

      &:focus {
        box-shadow: 0px 0px 15px 3px rgb(179, 255, 0);
      }
    }
  }

  &__input-text {
    width: 100%;
    position: relative;

    textarea {
      width: 100%;
      padding: 10px 5px;
      font-size: 18px;
      transition: 0.3s;

      &:focus {
        box-shadow: 0px 0px 15px 3px rgb(179, 255, 0);
      }
    }
  }

  &__submit {
    margin: 0 auto;
    display: inline-flex;
    padding: 15px 69px;
    justify-content: end;
    font-size: 18px;
    color: #fff;
    background-color: #000;
    transition: 0.3s;
    border: 1px solid #000;
    &:disabled{
      background-color: #747171;
      border: 1px solid #747171;
      cursor: none;
      &:hover{
        border: 1px solid #747171;
      }
    }

    &:hover {
      border: 1px solid white;
    }
  }
  &__modal{
    z-index: -1;
    opacity: 0;
    &.active{
      z-index: 100;
      opacity: 1;
    }
  }
}