.section-title {
  display: flex;
  justify-content: center;
  text-align: center;

  &__text {
    display: inline-flex;
    font-weight: 400;
    font-size: 55px;
    line-height: 120%;
    color: #000000;
    padding: 0px 0px 20px 0px;
    position: relative;

    &::after {
      content: "";
      display: block;
      width: 70vw;
      height: 2px;
      background-color: #DBAC16;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%);
    }

    @media (max-width: 850px) {
      font-size: 35px;
    }
    @media (max-width: 500px){
      font-size: 28px;
    }
    @media (max-width: 420px){
      font-size: 20px;
    }
  }
}