.press {
  padding: 0 0 5.55% 0;
  &__hero {
    background-image: url('../../assets/uzbekistan.avif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;

    @media (max-width: 815px) {
      padding: 220px 0px 150px 0px;
    }
  }
  &__news{
    padding: 5.55% 0 0 0;
  }
}