.footer {
  background: #000;
  color: #4dacac;

  &__wrap {
    padding: 65px 0 0px 0;
    @media (max-width: 650px){
      padding: 20px 0;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    padding-bottom: 36px;
    border-bottom: 1px solid white;
    column-gap: 7%;
    row-gap: 50px;
    @media (max-width: 650px){
      row-gap: 30px;
    }

    h3 {
      color: #DBAC16;
      font-size: 36px;
      font-weight: 300;
      @media (max-width: 650px){
        font-size: 20px;
    }
    }
  }

  &__logo_link {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
    color: #4dacac;
    text-align: center;
    @media (max-width: 650px){
      height: 100px;
    }

    &:hover .footer__logo_title {
      text-shadow: #FC0 1px 0 10px;
    }

    &>img {
      height: 100%;
    }
  }

  &__logo_title {
    font-family: 'Bruno Ace SC', cursive;
    font-size: 22px;
    transition: 0.4s ease-in-out;
  }

  &__text {
    display: flex;
    column-gap: 7%;
    row-gap: 50px;
    @media (max-width: 650px){
      flex-wrap: wrap;
      row-gap: 30px;
    }
  }

  &__socials {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__socials-icon {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 46px;
    @media (max-width: 650px){
      margin-top: 20px;

    }
  }

  &__socials-icon-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    border: 1px solid white;
    border-radius: 50%;
    transition: 0.3s;

    &:hover {
      box-shadow: 0px 0px 10px 1px #DBAC16;
    }
  }

  &__address {
    display: flex;
    flex-direction: column;
    gap: 39px;
    color: #FFF;
    font-size: 19px;
    
    line-height: 120%;
    @media (max-width: 650px){
      gap: 20px;
    }
  }

  &__address-email {
    display: inline-flex;
    flex-direction: column;
    
    a {
      color: white;
    }
  }
  
  &__feed {
    display: flex;
    flex-direction: column;
    gap: 40px;
    @media (max-width: 650px){
      gap: 20px;
    }
  }

  &__feed-input {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 19px;
    line-height: 120%;

    input {
      padding: 10px 5px;
      font-size: 19px;
      line-height: 120%;
      height: 63px;
      @media (max-width: 650px){
        height: 50px;
      }
    }
  }

  &__feed-submit {
    width: 243px;
    height: 63px;
    background: #000;
    color: #fff;
    transition: 0.3s;
    border: 1px solid #fff;
    font-size: 19px;
    line-height: 120%;
    @media (max-width: 650px){
      height: 50px;
    }

    &:hover {
      border: 1px solid #2b10c5;
    }
  }

  &__tail {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    padding: 22px 0 35px 0;
    font-size: 19px;
    @media (max-width: 650px){
      display: none;
    }
  }

  &__tail-back {
    color: white;
  }
}

/*============adaptive========*/
@media (max-width: 1100px) {
  .footer {
    &__content {
      flex-wrap: wrap;
    }
  }
}

@media (max-width: 726px) {
  .footer {
    &__socials-icon {
      flex-wrap: wrap;
    }
  }
}