/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
.fixed{
  overflow: hidden;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

/*========подключения шрифта=======*/
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Montserrat:wght@300;400;500;700&display=swap');


body {
  font-family: 'Montserrat', sans-serif;
}

.card-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  padding: 10px;
}

.add-BTN {
  display: inline-flex;
  font-size: 18px;
  background-color: transparent;
  border: 1px solid aqua;
  padding: 10px 20px;
  transition: 0.3s;

  &:hover {
    background-color: aqua;
  }
}

.del-btn {
  background-color: transparent;
  border: 1px solid;
  padding: 10px 15px;
}

.service {
  &__card_item {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 32%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 5px 0px rgba(34, 60, 80, 0.17);
    transition: 0.5s;
    @media (max-width: 866px){
      width: 267px;
    }
    &:hover{
      box-shadow: 0px 0px 15px 10px rgba(34, 60, 80, 0.17);
    }

  }
  &__card_text {
    width: 0;
    font-size: 18px;
    line-height: 120%;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    position: absolute;
  }
}

.view {
  background-color: #948a8a;
  padding: 3%;
  width: 97%;
  position: absolute;
}
.viewText{
  width: auto;
  overflow: visible;
  position: relative;
  opacity: 1;
  visibility: visible;
}